.contact {
    position: relative;
    img {
        width: 85%;
        min-height: 540px;
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    &-text {
        @include box;
        width: fit-content;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            font-size: 1.1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 1rem;
        }
        .last {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 800px) {
    .contact {
        display: flex;
        flex-direction: column-reverse;
        &-text {
            width: 100%;
            position: static;
            transform: translateY(0);
        }
        img {
            width: 100%;
            min-height: 190px;
        }
    }
}