* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

h2 {
  font-size: 1.2rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #F7F7F7;
  position: relative;
  overflow-x: hidden;
}

.gray-bg {
  height: 100%;
  width: 35%;
  background-color: #EEEEEE;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrapper {
  max-width: 1000px;
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.nav img:nth-of-type(1) {
  height: 35px;
  position: relative;
  z-index: 1;
}

.nav-items {
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-items a {
  margin-left: 100px;
  position: relative;
}

.nav-items a::after {
  content: "";
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #DBB442;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-items a:hover::after {
  width: 100%;
}

.nav-active::before {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #DBB442;
  position: absolute;
}

footer {
  background-color: #233376;
  width: 100%;
}

.footer {
  width: 65vw;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 14px;
  padding: 3rem 0;
  gap: 3.5rem;
}

.footer a {
  color: white;
  padding: 0.5rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer a:hover {
  opacity: 0.7;
}

.footer h3 {
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.footer p {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.footer-legal {
  width: 20vw;
}

.footer-nav a {
  display: block;
}

@media (max-width: 1100px) {
  .footer {
    gap: 2rem;
  }
  .footer div {
    margin-bottom: 1rem;
  }
  .footer-legal {
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    text-align: center;
  }
  .footer-other {
    width: 100px;
  }
}

@media (max-width: 980px) {
  .gray-bg {
    display: none;
  }
  .wrapper {
    width: 90vw;
    padding: 0;
  }
  .nav-items {
    margin-top: -300px;
    -webkit-transition: 0.7s all ease-in-out;
    transition: 0.7s all ease-in-out;
    z-index: 0;
  }
  .nav-items a {
    margin-left: 0;
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 100px 0 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  }
  .nav-mobile * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }
  .open-nav {
    margin-top: 0;
  }
  .nav-active::before {
    bottom: 5px;
  }
  .burger {
    position: relative;
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before {
    content: "";
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    position: absolute;
    top: -7px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::after {
    content: "";
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger.open-burger {
    background: transparent;
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  .burger.open-burger::before {
    -webkit-transform: rotate(225deg) translate(0, -10px);
            transform: rotate(225deg) translate(0, -10px);
  }
  .burger.open-burger::after {
    -webkit-transform: rotate(-225deg) translate(0, 10px);
            transform: rotate(-225deg) translate(0, 10px);
  }
  .footer {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-other {
    width: auto;
  }
}

.hero {
  position: relative;
}

.hero img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 80%;
  height: 67vh;
  max-height: 800px;
  margin-top: 10px;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
}

.hero-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  max-width: 480px;
  position: absolute;
  z-index: 1;
  top: 60%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media (max-width: 980px) {
  .hero-text {
    padding: 2rem;
  }
}

.hero-text h1 {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.hero-text a {
  background-color: #233376;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  height: 45px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero-text a:hover {
  background-color: white;
  border: 2px solid #233376;
  color: #233376;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.offer img {
  height: 70px;
  width: 70px;
  margin-bottom: 1rem;
}

.offer h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

.offer h3 {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.offer p {
  margin-top: 10px;
}

.offer-card {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  text-align: center;
  line-height: 1.2;
  padding: 2.5rem 3rem;
}

@media (max-width: 980px) {
  .offer-card {
    padding: 2rem;
  }
}

.see-offer {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.see-offer:hover {
  opacity: 0.5;
}

.see-offer img {
  height: 10px;
  margin-left: 5px;
}

.about {
  margin: 2rem 0;
  position: relative;
}

.about img {
  margin-top: 2rem;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 80%;
}

.about h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about p:nth-of-type(1) {
  margin-bottom: 1rem;
}

.about-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  width: 550px;
  position: relative;
  margin-top: -32%;
  line-height: 1.3;
}

@media (max-width: 980px) {
  .about-text {
    padding: 2rem;
  }
}

.about .last {
  margin-bottom: 0;
}

.trusted {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  margin: 2rem 0;
}

@media (max-width: 980px) {
  .trusted {
    padding: 2rem;
  }
}

.trusted h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
}

.trusted-container {
  width: 90%;
  margin: auto;
}

.trusted-company {
  height: 120px;
  width: 140px;
  padding: 10px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted-company img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trusted .arrow {
  height: 15px;
}

.trusted .left-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 980px) {
  .hero {
    margin-bottom: 1rem;
  }
  .hero img {
    width: 100%;
    height: 80vh;
  }
  .hero-text {
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
    text-align: center;
    width: 90%;
  }
  .hero-text a {
    margin: auto;
  }
  .offer {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .offer-card {
    margin-bottom: 10px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  .about img {
    width: 100% !important;
    margin-top: 0;
  }
  .about-text {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .trusted {
    margin-top: 0;
  }
  .trusted-company {
    width: 100%;
  }
}

.funds h1, .other-services h1 {
  text-transform: uppercase;
  margin: 2rem 0 1.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.funds h2, .other-services h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.funds h3, .other-services h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.funds ul, .other-services ul {
  margin-bottom: 1rem;
}

.funds ul li, .other-services ul li {
  list-style-type: circle;
  margin-left: 2rem;
  margin-bottom: 5px;
  line-height: 1.3;
}

.funds p, .other-services p {
  margin-bottom: 1rem;
}

.funds .last, .other-services .last {
  margin-bottom: 0;
}

.funds-one {
  position: relative;
  padding-top: 2rem;
}

.funds-one img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
  width: 80%;
  position: absolute;
  left: 0;
  -o-object-position: left 30%;
     object-position: left 30%;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.funds-one-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  margin-bottom: 2rem;
  max-width: 550px;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 980px) {
  .funds-one-text {
    padding: 2rem;
  }
}

.funds-two {
  position: relative;
  padding-top: 2rem;
}

.funds-two img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  width: 80%;
  height: 600px;
  -o-object-position: 55% 50%;
     object-position: 55% 50%;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.funds-two-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  max-width: 550px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width: 980px) {
  .funds-two-text {
    padding: 2rem;
  }
}

.other-services {
  margin-bottom: 2rem;
}

.other-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.other-services-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  padding: 2.5rem;
  padding-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
}

@media (max-width: 980px) {
  .other-services-text {
    padding: 2rem;
  }
}

.other-services ul li {
  margin-left: 1.5rem;
}

@media (max-width: 980px) {
  .funds-one, .funds-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .funds-one img, .funds-two img {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .funds-one-text, .funds-two-text {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .funds-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.about p {
  margin-bottom: 1rem;
}

.about .last {
  margin-bottom: 0;
}

.about img {
  width: 80%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-one-text, .about-two-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  position: absolute;
  max-width: 450px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 980px) {
  .about-one-text, .about-two-text {
    padding: 2rem;
  }
}

.about-one {
  position: relative;
}

.about-one-text {
  right: 0;
  max-width: 400px;
}

.about-one img {
  margin: 0;
}

.about-two {
  position: relative;
}

@media (max-width: 980px) {
  .about h1 {
    margin-bottom: 1rem;
  }
  .about-one, .about-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-one img, .about-two img {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .about-one-text, .about-two-text {
    max-width: 100%;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contact {
  position: relative;
}

.contact img {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.contact-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3rem;
  border-radius: 4px;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 980px) {
  .contact-text {
    padding: 2rem;
  }
}

.contact-text h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact-text p {
  margin-bottom: 1rem;
}

.contact-text .last {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-text {
    width: 100%;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contact img {
    width: 100%;
  }
}
