* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #F7F7F7;
  height: 350vh;
  position: relative;
}

.gray-bg {
  height: 100%;
  width: 35%;
  background-color: #EEEEEE;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrapper {
  width: 70vw;
  max-width: 1000px;
  margin: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav img:nth-of-type(1) {
  height: 35px;
  position: relative;
  z-index: 1;
}

.nav-items {
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-items a {
  margin-left: 100px;
  position: relative;
}

.nav-items a::after {
  content: "";
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #DBB442;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-items a:hover::after {
  width: 100%;
}

.nav-active::before {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #DBB442;
  position: absolute;
}

footer {
  background-color: #233376;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  width: 70vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 14px;
  padding: 3rem 0;
  gap: 3.5rem;
}

.footer a {
  color: white;
  padding: 0.5rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer a:hover {
  opacity: 0.7;
}

.footer h3 {
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.footer p {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.footer-legal {
  width: 20vw;
}

.footer-nav a {
  display: block;
}

@media (max-width: 1100px) {
  .footer {
    gap: 2rem;
  }
  .footer div {
    margin-bottom: 1rem;
  }
  .footer-legal {
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    text-align: center;
  }
  .footer-other {
    width: 100px;
  }
}

@media (max-width: 980px) {
  .gray-bg {
    display: none;
  }
  .wrapper {
    width: 90vw;
  }
  .nav-items {
    margin-top: -300px;
    -webkit-transition: 0.7s all ease-in-out;
    transition: 0.7s all ease-in-out;
    z-index: 0;
  }
  .nav-items a {
    margin-left: 0;
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 100px 0 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-mobile * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }
  .open-nav {
    margin-top: 0;
  }
  .nav-active::before {
    bottom: 5px;
  }
  .burger {
    position: relative;
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::before {
    content: "";
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    position: absolute;
    top: -7px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::after {
    content: "";
    background-color: #DBB442;
    height: 3px;
    width: 23px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger.open-burger {
    background: transparent;
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  .burger.open-burger::before {
    -webkit-transform: rotate(225deg) translate(0, -10px);
            transform: rotate(225deg) translate(0, -10px);
  }
  .burger.open-burger::after {
    -webkit-transform: rotate(-225deg) translate(0, 10px);
            transform: rotate(-225deg) translate(0, 10px);
  }
  .footer {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-other {
    width: auto;
  }
}

.hero {
  position: relative;
}

.hero img {
  width: 80%;
  height: 60vh;
  max-height: 600px;
  display: block;
  margin-right: 0;
  margin-left: auto;
  z-index: -1;
  right: 0;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
}

.hero-text {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 2.5rem;
  border-radius: 4px;
  max-width: 480px;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.hero-text h1 {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.hero-text a {
  background-color: #233376;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  height: 45px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 980px) {
  .hero img {
    width: 100%;
  }
  .hero-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  .hero-text a {
    margin: auto;
  }
}
